<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
    <img src="./images/logo-mercado-liebre.svg" style="width:200px"></img>
     <div class="flexsearch">
		<div class="flexsearch--wrapper">
			<form class="flexsearch--form" action="#" method="post">
				<div class="flexsearch--input-wrapper">
					<input class="flexsearch--input" type="search" placeholder="search">
				</div>
				<input class="flexsearch--submit" type="submit" value="&#10140;"/>
			</form>
		</div>
    </div>
    <h1>Comprá en cuotas y sin tarjeta de crédito</h1>
    <ul type="circle">
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
        <br></br>
        <li><a href="#">Creá tu cuenta</a></li>
        <li><a href="#">Ingresá</a></li>
        <li><a href="#">Mis compras</a></li>
    </ul>
    </header>
    <main>
        <h3>Sección:Basado en tu última visita</h3>
        <img src="./images/img-cafetera-moulinex.jpg" alt="banner" style="width:180px"></img>
        <p>$6.770<br>40% off<br>Cafetera Moluinex</p> 
        <img src="./images/img-macbook-pro-2019.jpg" alt="banner" style="width:180px"></img>
        <p>$230.000<br>20% off<br>MacBook Pro 2019</p>
        <img src="./images/img-samsung-galaxy-s10.jpg" alt="banner" style="width:180px"></img>
        <p>$70.500<br>10% off<br>Samung Galaxy S10</p>
        <img src="./images/img-tv-samsung-smart.jpg" alt="banner" style="width:180px"></img>
        <p>$23.200<br>5% off<br>SmartTv Samsung 43'</p>

        <h3>Sección de Ofertas</h3>
        <img src="./images/img-cafetera-moulinex.jpg" alt="banner" style="width:180px"></img>
        <p>$6.770<br>40% off<br>Cafetera Moluinex</p> 
        <img src="./images/img-macbook-pro-2019.jpg" alt="banner" style="width:180px"></img>
        <p>$230.000<br>20% off<br>MacBook Pro 2019</p>
        <img src="./images/img-samsung-galaxy-s10.jpg" alt="banner" style="width:180px"></img>
        <p>$70.500<br>10% off<br>Samung Galaxy S10</p>
        <img src="./images/img-tv-samsung-smart.jpg" alt="banner" style="width:180px"></img>
        <p>$23.200<br>5% off<br>SmartTv Samsung 43'</p>            
    </main>
    <footer>
        <h3>Pagá con tarjeta de crédito o en efectivo</h3>
        <p>Con MercadoLiebreCash tenés cuotas sin<br>sin interés con tarjeta o efectivo en puntos 
            de<br>pago. ¡Y siempre es seguro!</p>
        <h3>Envío Gratis desde $2.500</h3>
        <p>Sólo por estar registrado en MercadoLiebre<br>Tenés envíos gratis en miles de productos.Es<br>
           un beneficio de Mercados Puntos.</p>
        <h3>Seguridad de Principio a fin</h3>
        <p>¿No te gusta?¡Devolvelo! En MercadoLiebre<br>No hay nada que no puedas hacer porque estás<br>
           siempre protegid@</p>
        <p>Copyright 1999-2020 MercadoLiebre S.R.L</p>
    </footer>
    
</body>
</html>